.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header_container .search{
  width: 65%;
}
.header_container input{
  width: 80%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid silver;
  padding: .3rem;
  padding-left:1rem ;
}
.header_container .filter{
  width: 6rem;
}
.header_container .prods{
  width: 8rem;
  background-color: #F5F5F5;    
  border-radius: 2rem;
  border: 1px solid silver;
  padding: .3rem;
  position: relative;
  left: .8rem;
}

.list_icon svg {
  font-size: x-large;
  font-weight: bolder
}

.list_icon {
  width: 2.5rem;
}

@media (min-width:250px) and (max-width:500px) {
  .carousel img{
    height: 300px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}